* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1, h2 {
    text-align: center;
}

h2, p {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    line-height: 64px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

section {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    gap: 160px;
    align-items: center;
    position: absolute;
    padding: 48px 0 0 160px;
    text-transform: uppercase;
    z-index: 2;
}

.toggle__btn {
    display: none;
}

.header a {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
}

.header div a {
    letter-spacing: 0.1em;
    text-decoration: none;
}

.header ul {
    display: flex;
    gap: 55px;
}

.header li {
    list-style-type: none;
}

.active__link {
    border-bottom: 2px solid #FFFFFF;
}

.header ul li a {
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-decoration: none;
}

/* * ==== TOP SECTION ==== */

.top__animations {
    height: 100vh;
}

.top__descr {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.top__bg,
.top__wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

.top__bg {
    height: 100%;
    width: 100%;
    transform-origin: center right;
    object-fit: cover;
}

.top__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    height: 100vh;
    background: transparent;
}

.top__wrapper h1 {
    margin-bottom: 12px;
    color: #FFFFFF;
}

.top__wrapper h2 {
    color: rgba(255, 255, 255, 0.7);
}

.top__logo:hover {
    cursor: pointer;
    animation: rotateLogo 3s linear;
}

@keyframes rotateLogo {

    0%,
    100% {
        transform: scale(1) rotateY(0deg);
    }

    50% {
        transform: scale(1.5) rotateY(180deg);
    }
}

@keyframes lumos {
    10%,
    100% {
        opacity: 0;
    }

    65%,
    70% {
        opacity: 1;
    }
}

@keyframes pulse {
    10%,
    90% {
        transform: scale(1);
        top: 0;
    }

    40%,
    60% {
        transform: scale(1.08);
    }
}

/* * ==== MID SECTION ==== */

.mid {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 48px 0;
}

.mid__headline {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #464547;
}

.mid__descr {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #666666;
}

.mid__column-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 14rem;
}

.mid__text {
    text-align: left;
    color: #666666;
}

.mid__btn {
    margin-top: 43px;
    width: 115px;
    height: 36px;
    background: #55C2D8;
    border: none;
    border-radius: 18px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transition: transform .2s ease;
}

.mid__btn:hover {
    animation: inclineBtn 1.5s linear;
    transform-origin: top left;
}

@keyframes inclineBtn {
    0%, 100% {
        transform: rotate(0deg) translateY(0);

    }
    30%, 70% {
        transform: rotate(15deg) translateY(2px);
    }
}

/* * ==== LEARN MORE ABOUT ==== */

.btm__bg {
    background: url(../assets/btm_bg.png);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

.btm__headline {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.btm__descr {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.btm__btn {
    height: 150px;
    width: 150px;
    padding: 8px 0 0 10px;
    color: #FFFFFF;
    font-size: 75px;
    border-radius: 100%;
    background: #39C2D7;
    border: none;
    cursor: pointer;
}

.btm__btn:hover {
    animation: scaleBtn 1.2s linear;
    transform-origin: center center;
}

@keyframes scaleBtn {
    0%, 100% {
        transform: scale(1);
    }
    40%, 60% {
        transform: scale(0.8);
        background: white;
        color: #39C2D7;
    }
}
